html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#0f220b, #094b21);
  }
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(15, 12, 23, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background:transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    /* padding: 10px 0; */
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  
  }
  
  
  small
  {
    color: red;
  }
  a
  {
    /* display: block; */
    text-decoration: none;
    color: rgb(17, 187, 203);
    background-color: transparent;
    padding: 8px;
    border:1px solid #03e9f4;
    border-radius: 4px;
    /* margin-left: 1000px; */
  }
  a:hover
  {
    background-color: rgb(87, 238, 213);
    color: #060606;

  }